<div >
<%= form_tag("/change", method: "get") do %>
<table>
<tr><td><%= label_tag(:q, "UIN:") %></td>
<td><%= text_field_tag(:q) %></td></tr>
<tr><td><%= label_tag(:v, "Score:") %></td>
  <td><%= text_field_tag(:v) %></td></tr>
<tr><td><%= label_tag(:course, 'Course') %></td>
  <td><%= text_field_tag(:c, @course) %></td></tr>
<tr><td><%= label_tag(:name, 'Name') %></td>
  <td><%= text_field_tag(:n, @name) %></td></tr>
</table>
  <%= submit_tag("Update") %>
  <%= submit_tag("Search") %>
  <%= submit_tag("Delete") %>
<% end %>
</div>
