<div class="topbar">
	<div class="global-nav">
		<div class="container">
			<div class="topbar-left" style="display: inline-block">
				<ul class="nav">
					<% @top_nav_lists.values.each do |list| %>
					<li class="top-list <%= "active" if list[:text] == @init_active %>">
						<a class="top-nav top-nav-left" href="<%= list[:href] %>">
							<span class="icon icon-left <%= list[:icon].split('-')[0] %> <%= list[:icon] %>"></span>
							<span class="text"><%= list[:text] %></span>
						</a>
					</li>
					<% end %>
				</ul>
			</div>
			<div class="topbar-right" style="display: inline-block">
				<ul class="nav">
					<li class="top-list">
						<a class="top-nav top-nav-right" title="View me on Linkedin" href="http://www.linkedin.com/in/chaofanli/">
							<span class="icon icon-right fa fa-linkedin-square"></span>
						</a>
					</li>
					<li class="top-list">
						<a class="top-nav top-nav-right" title="View my Github repos" href="https://github.com/li3939108?tab=repositories">
							<span class="icon icon-right fa fa-github"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="content" id="<%= @top_nav_lists['home'][:href][1..-1] %>">
	<div class="container panel">
		<h1><%= @name %></h1>
		<hr />
		PhD student<br />
		<%= link_to("Department of Electrical and Computer Engineering", @ece_site) %><br />
		<%= link_to("Texas A&M University", @tamu_site) %><br />
		College Station, TX
	</div>
	<div class="container panel" id="<%= @top_nav_lists['about'][:href][1..-1] %>">
		<h3><%= @top_nav_lists['about'][:text] %></h3>
		<p>I am a Ph.D. student majoring <%= link_to("Computer Engineering", @cesg_site) %>, in Dept. of ECE at TAMU. Currently, I am doing research on Computer-Aided Design for Very Large Scale Integrated circuits (VLSI CAD) advised by <a href="http://cesg.tamu.edu/faculty/Jiang-Hu/">Dr. Jiang Hu</a>.</p>
		<p>Before I came to TAMU, I received my B.S. degree in Electronic &amp; Information Science from <%= link_to("Nanjing University", @nju_site) %> in 2013.</p>
	</div>
	<div class="container panel" id="<%= @top_nav_lists['contacts'][:href][1..-1] %>">
		<h3><%= @top_nav_lists['contacts'][:text] %></h3>
		<ul class="vertical">
		<% @contacts.each do |list| %>
			<li>
				<span class="first-column" style="<%= "line-height:"+ (list[:lines]*18).to_s + "px;" if list[:lines] != nil %>"><% case list[:name]
						when "Office"%><%= content_tag('span', '', {:class => "contact-icon icon-link #{list[:icon].split('-')[0]} #{list[:icon]} fa-fw", :id => "map-button", :title => "#{list[:title]}"}) %>
					<%	else %><%=    content_tag('span', '', {:class => "contact-icon #{list[:icon].split('-')[0]} #{list[:icon]} fa-fw"}) %>
					<%end %>&nbsp;<%= content_tag('span', list[:name]) %></span><span class="second-column" style="<%="height:"+(list[:lines]*18).to_s + "px;" if list[:lines] != nil %>"><%= list[:content] %></span>
			</li>
		<% end %>
		</ul>
	</div>
	<div class="foot">
		Last modified by <%= @name %> · <%= @last_modify_date %> · <a class="text-link" href="https://github.com/li3939108/personal_page">Github project for this site</a><br />
		<a title="Check the html5 validation of this site" href="http://validator.w3.org/check?uri=http%3A%2F%2Fchaof.herokuapp.com%2F"><span class=" fa fa-html5"></span></a>
	</div>
</div>

